<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9DVM9UWfYTt1s8ROlKFA-y0hw0XWfaLg</string>
	<key>GCM_SENDER_ID</key>
	<string>827637719607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shapesnap</string>
	<key>PROJECT_ID</key>
	<string>shapesnap-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shapesnap-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827637719607:ios:2d9af248a495dce7e295b2</string>
</dict>
</plist>